#scene-container {
    /* tell our scene container to take up the full page */
    position: absolute;
    width: 100%;
    height: 100%;

    /*
    Set the container's background color to the same as the scene's
    background to prevent flashing on load
  */
    background-color: skyblue;
}

#generate-house-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 1000;
}

#generate-house-btn:hover {
    background-color: #45a049;
}
